<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include("./_share/metadata.ejs") %>
    <title>Jimitas</title>
    <%- include("./_share/stylesheets.ejs") %>
</head>

<body>
  <!-- header -->
  <%- include("./_share/navbar.ejs") %>
  <div class="outerframe">
      <!-- main -->
      <main role="main" class="container">
        <h3 class="display-8 text-center my-5">
          じみにたすかるがくしゅうコンテンツ <br>
          <i class="fa fa-book-open"></i>
          Jimitas(ジミタス)
          <i class="fa fa-pen"></i>
        </h3>
      </main>
      <%- include("./_share/footer.ejs") %>
  </div>
  <%- include("./_share/javascripts.ejs") %>
</body>

</html>