<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include("./_share/metadata.ejs") %>
    <title>Jimitas</title>
    <%- include("./_share/stylesheets.ejs") %>
</head>

<body>
  <!-- header -->
  <%- include("./_share/navbar.ejs") %>
    <div class="outerframe">
      <!-- main -->
      <main role="main" class="container pt-2">
        <div class="d-flex">
          <select id="masu_type" class="form-select bg-light w-25 mx-1">
          </select>
          <select id="color_val" class="form-select bg-light w-25 mx-1">
          </select>
          <button id="reset_btn" class="btn btn-danger">リセット</button>
        </div>
        <div id="kei_sen">
        </div>
      </main>
      <%- include("./_share/footer.ejs") %>
    </div>
    <%- include("./_share/javascripts.ejs") %>
      <script src="/javascripts/ironuri.js"></script>
</body>

</html>