<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include("./_share/metadata.ejs") %>
    <title>Jimitas</title>
    <%- include("./_share/stylesheets.ejs") %>
</head>

<body>
  <!-- header -->
  <%- include("./_share/navbar.ejs") %>
    <div class="outerframe">
      <h1 class="mt-2 text-center">
        <%= title %>
      </h1>
      <!-- main -->
      <main role="main" class="container d-flex">
        <div class="d-flex">
          <div>
            <img id="kyotoshi" src="/images/kyotoshi.png" />
            <span id="ku_0" style="position:absolute;top:380px;left:230px;">北区</span>
            <span id="ku_1" style="position:absolute;top:425px;left:255px;">上京区</span>
            <span id="ku_2" style="position:absolute;top:360px;left:290px;">左京区</span>
            <span id="ku_3" style="position:absolute;top:445px;left:245px;">中京区</span>
            <span id="ku_4" style="position:absolute;top:475px;left:280px;">東山区</span>
            <span id="ku_5" style="position:absolute;top:485px;left:310px;">山科区</span>
            <span id="ku_6" style="position:absolute;top:465px;left:250px;">下京区</span>
            <span id="ku_7" style="position:absolute;top:495px;left:230px;">南区</span>
            <span id="ku_8" style="position:absolute;top:400px;left:170px;">右京区</span>
            <span id="ku_9" style="position:absolute;top:495px;left:150px;">西京区</span>
            <span id="ku_10" style="position:absolute;top:520px;left:260px;">伏見区</span>
          </div>
          <div>
            <h4 id="text_box" class="alert alert-light text-center">もんだいを　おしてね。</h4>
            <button id="question" class="btn btn-primary">もんだい</button>
            <button id="check" class="btn btn-danger">こたえあわせ</button>
            <span>　　</span>
            <button id="show" class="btn btn-secondary">こたえを　みる</button>
            <div>
              <table class="mt-2" id="TBL_kyotoshi">
              </table>
              <div class="d-flex">
                <div id="score-field" style="display:flex;align-items: flex-start;"></div>
                <div style="text-align: right;" id="score-point"></div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <%- include("./_share/footer.ejs") %>
    </div>
    <%- include("./_share/javascripts.ejs") %>
      <script src="/javascripts/kyotoshi.js"></script>
</body>

</html>