<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include("./_share/metadata.ejs") %>
    <title>Jimitas</title>
    <%- include("./_share/stylesheets.ejs") %>
</head>

<body>
  <!-- header -->
  <%- include("./_share/navbar.ejs") %>
    <div class="outerframe">
      <h1 class="my-3 text-center">
        <%= title %>
      </h1>
      <!-- main -->
      <main role="main" class="container ">
        <div class="d-flex justify-content-center">
          tempo=<span id="range">84　</span>
          <input type="range" value="84" max="300" min="10" step="1" id="tempo" style="max-width:100%;width:600px;cursor: pointer;">
        </div>
        <div class="mt-3 text-center">ハ長調でよく使われる和音</div>
        <div id="piano" class="d-flex justify-content-center">
        </div>
      </main>
      <%- include("./_share/footer.ejs") %>
    </div>
    <%- include("./_share/javascripts.ejs") %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/13.1.25/Tone.js"></script>
      <script src="/javascripts/waon2.js"></script>
</body>

</html>