<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include("../_share/metadata.ejs") %>
    <title>Jimitas</title>
    <%- include("../_share/stylesheets.ejs") %>
</head>

<body>
  <!-- header -->
  <%- include("../_share/navbar.ejs") %>
    <div class="outerframe">
      <h1 class="mt-3 text-center text-primary">
        <%= title %>
      </h1>
      <!-- main -->
      <main role="main" class="container">
        <p>
          <%- content %>
        </p>
        <form method="post" action="/users/login">
          <div class="form-group mt-3">
            <label for="name">ユーザーID(アイディ)</label>
            <input type="text" name="name" id="name" class="form-control">
          </div>
          <div class="form-group mt-3">
            <label for="pass">パスワード</label>
            <input type="password" name="pass" id="pass" class="form-control">
          </div>
          <input type="submit" value="ログイン" class="btn btn-primary mt-3">
        </form>
        <p class="mt-4"><a href="/">&lt;&lt; Top へもどる</a>｜
          <a href="/users/add">アカウントを　つくる&gt;&gt;</a>
        </p>
      </main>
      <%- include("../_share/footer.ejs") %>
    </div>
</body>

</html>